.filter_main_container{
  padding-left: 2%;
  margin-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.post_tag_filter input{
  max-width: 58%;
  max-height: 5vh;
}
.order_filter{
  display: flex;
  width: 19%;
}
.filter_container_2{
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchIcon{
  padding: 12.8px;
  height: 22px !important;
  background-color: #cd9042;
}
