.tagTile {
  padding: 10px;
  margin: 10px;
  background-color: var(--lightBlue--color);
  min-width: 20%;
  max-height: 5rem;
  box-shadow: 3px 3px 5px 6px var(--chineseSilver-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
