.post {
  background-color: #eff0f1;
  min-height: 100vh;
}
.post h1 {
  font-size: 30px;
  margin-left: 50px;
  font-weight: normal;
}
.ck-editor__editable {
  min-height: 200px;
}
.post_container1 {
  background-color: white;
  min-height: 440px;
  width: 850px;
  margin-left: 50px;
  padding: 5px 15px 20px 15px;
  margin-top: 30px;
}
.post_container1 p {
  font-size: 12px;
  margin-top: 0px;
}
.post_container1 h4 {
  margin-bottom: 5px;
}
.question_box {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 45px;
}
.shadow_lg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.post_title input {
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--black-color);
  height: 10px;
}
.tags input {
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--black-color);
  height: 15px;
}
.btn {
  margin-top: 30px;
  margin-left: 46px;
  padding-bottom: 20px;
  display: flex;
}
.valid {
  padding-top: 3px;
  min-height: 15px;
  font-size: 12px;
  color: var(--red-color);
}
.post_lower_part {
  display: flex;
  justify-content: space-between;
  margin-right: 10;
  margin-right: 10;
  margin-right: 27%;
}
.create_tag_post {
  min-height: 78px;
}
