.comment-votes {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 9vh;
  align-items: center;
}
.comment-vote-container {
  display: flex;
  min-width: 9vh;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
