.group-description {
  width: 100%;
  margin-top: 25px;
  box-sizing: border-box;
  padding: 0.6rem 2rem 0 2rem;
}
.group-main-description {
  white-space: pre-wrap;
  text-align: justify;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 9px rgba(186, 186, 186, 1.5);
  padding: 1rem;
}
.description-heading {
  font-size: x-large;
}
