.signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.signup__container {
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50rem;
  padding:20px;
  border-radius: 3rem;
  box-shadow: 0 2px 9px rgba(186, 186, 186, 0.5);
}
.signup__logo{
  width: 10rem;
}
.signup__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}
.signup__input__group{
  width: 40%;
}
.signup__input__group .effect{
  padding-top: 5px;
}
select {
  cursor: pointer;
}
.react-datepicker-wrapper{
  width: 100%;
}
.signup-error {
  text-align: center;
}

/* media query */
@media screen and (max-width: 883px) {
  .signup__container{
    box-shadow: none;
  }
}
@media screen and (max-width: 447px) {
  .signup{
    height: inherit;
  }
  .signup__input__group{
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .signup__heading {
    font-size: large;
  }
}
